@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;  
  position: relative;
  margin: 25px auto;
}
.container {
  padding: 40px 40px;
  background: #fff;
  margin: auto;
}
.contentbox {
  border: 1px solid #ccc;
  padding: 10px 10px;
}
.contentbox h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: var(--danger);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.contentbox h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.pagelink {
  position: relative;
  display: block;
  width: 600px;
}
.pagelink ul {
  list-style: none;
}
.pagelink ul li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  vertical-align: baseline;
}
.pagelink ul li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}



.hide, .step{
    display:none;
  }
  .page-next {
    position: fixed;
    top: 50%;        
  }
  .page-next a.prev {
    position: fixed;
    left: 0;
  }
  .page-next a.next {
    position: fixed;
    right: 0;
  }


@media (max-width: 786) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
